body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h2 {
  text-align: center;
  color: #333;
}

.chat-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 400px;
}

ul {
  list-style-type: none;
  padding: 0;
  max-height: 300px;
  overflow-y: auto;
  margin-bottom: 10px;
}


li {
  background: #e0e0e0;
  padding: 10px;
  margin: 6px 0;
  border-radius: 8px;
  width: fit-content;
  word-break: break-all;
}
.My-message {
  align-self: flex-end;
  background: #3e3e3e;
  border-radius: 8px;
  padding: 10px;
  width: fit-content;
  word-break: break-all;
}

input[type="text"] {
  width: calc(100% - 80px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-right: 8px;
  outline: none;
}

button {
  padding: 10px 15px;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.input-section {
  display: flex;
  align-items: center;
}